
/* font-family: 'Montserrat', sans-serif; */
body,
h1,
h2,
h3,
h4,
ul,
li,
p,
div,
nav {
    margin: 0;
    padding: 0;
}
body {
    width: 1920px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h4,
.btn,
.grig-container-services {
    font-weight: 700;
    text-transform: uppercase; 
}
h1,
h2,
.btn {
    color: #ffffff;
}
h3 {
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
    text-align: center;
    padding-top: 85px;
    margin: 0 auto 100px;
    width: 1160px;
    position: relative;   
}
h3::before {
    content: "";
    width: 78px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    bottom: -28px;
    left: 46%;
}
h3::after {
    content: "";
    width: 78px;
    height: 1px;
    background: #18CFAB;
    position: absolute;
    bottom: -32px;
    left: 47%;
}
h1 {
    font-size: 35px;
}

h2 {
    font-size: 78px;
}
h4 {
    font-size: 40px;
    color: #18CFAB;
}
span,
.news-description {
    color: #18CFAB;
    font-weight: 700;
}
.header-nav {
    width: 1920px;
    height: 120px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 380px;
    background-color: rgba(94, 93, 88, 0.6);
}

.navigation-list,
.services-list,
.services-list-content li,
.tabs-amazing-work,
.roundabout,
.wrapper-roundabout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.instal-container,
.section-gallery  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navigation-list {
    gap: 21px;
    position: relative;
}
.logo {
    font: 32px 'Montserrat', sans-serif;
    font-weight: 400;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    position: relative;
}
.logo::after {
    content: "H";
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    position: absolute;
    z-index: 2;
   left: 13px;

}
.navigation-list-item:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    fill: #18CFAB;
}
.navigation-list-item {    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    height: 120px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    transition: 0.4s;
}
.btn-container {
    position: relative;
    z-index: 0;
    width: 168px;
    height: 63px;
} 
.btn {
    width: 100%;
    height: 100%;
    background: #18CFAB;
    border-radius: 3px;
    border:  none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #ffffff;
    position: relative;
    z-index: 1;
    transition: 0.4s;
}
.btn-line {
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 3px;
    border:  none;
    position: absolute;
    top: -4px;
    left: 0;
    z-index: 0;
}
.btn-container:hover .btn {
    filter: brightness(1.1);
    box-shadow: 3px 5px 3px #777777;
}
.creative-wrapper {
    width: 1920px;
    height: 1012px;
    position: relative;
}
.creative-fixed-bgd {
    width: 100%;
    height: 1012px;
    background-image: url(../img/Sections_background/section_header.jpg);
    background-attachment: fixed;
}
.creative {
    margin-top: 264px;
    margin-bottom: 127px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    align-items: center;
}
.creative p {
    color: lightgray;
    font-size: 35px;
}
.creative-btn-container {
    display: flex;
    gap: 26px;
    justify-content: center;
}   
.btn-blue {
    background: #00CBF6;
}
.our-services {
margin-top: 10px;
}
.our-services h3 {
    width: 1160px;
}
.grig-container-services {
    height: 377px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    font-size: 20px;
}
.grig-container-services li:nth-child(odd) {
    background: #1C2A33;
    color: #18CFAB;
}

.grig-container-services li:nth-child(even) {
    background: #18CFAB;
    color: #FFFFFF;
}
.grig-container-services li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 47px;
    padding: 105px 0;
}
.services-list,
.services-list-content,
.wrapper-say-about {
    width: 1160px;
   margin: 28px auto;
}
.services-list-item,
.tabs-amazing-work li {
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-list-item {
    width: 193px;
    height: 73px;
}
.services-list-content {
    height: 140px;
    overflow: hidden;
    margin-bottom: 91px;
}
.services-list-content li {
    gap: 15px;
}
.services-list-content p {
    font-size: 14px;
    font-weight: 300;
}
.active {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    color: #ffffff;
    position: relative;
}
.active::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 14px solid #ffffff;
    border-right: 14px solid #ffffff;
    border-top: 13px solid #18CFAB;
    position: absolute;
    bottom: -13px;
    left: 46%;
}
.instal-btn {
    height: 476px;
    background-image: url(../img/Sections_background/section2.jpg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
}
.instal-btn::after {
    content: "";
height: 100%;
width: 100%;
background-color: rgba(0, 0, 0, 0.5);
position: absolute;
top: 0;
left: 0;
z-index: 1;
}
.instal-container {
    height: 100%;
    width: 100%;
    gap: 22px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.instal-btn .btn-container{
    margin-top: 45px;
}
.instal-container p {
    font-size: 16px;
    color: #D8D8D8;
}
.section-news,
.section-amazing-work {
margin: 0 auto;
padding-bottom: 100px;
display: flex;
flex-direction: column;
align-items: center;
}
.tabs-amazing-work li {
    box-sizing: border-box;
padding: 14px 16px;
background-color: #E9EDEF;
border: 1px solid #DADADA;
font-size: 14px;
color: #717171;
font-weight: 400;
}
/* Картки секції Our Amazing Work */
.section-amazing-work {
    background-color: #E9EDEF;
    
}
.flex-container-amazing {
    display: flex;
    flex-wrap: wrap;
    margin: 71px auto;
    width: 1160px;
}
.card {
    width: 285px;
    height: 206px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    display: inline-block;
    transition: 1.3s;
}
.back-card, 
.front-card {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.4s ease-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.back-card {
    width: 285px;
    height: 206px;
    text-align: center;
    margin: 0 auto;
    padding-top: 113px;
    box-sizing: border-box;
    border-top: 6px solid #18CFAB;
    transform: rotateY(180deg);
}
.card:hover {
    transform: rotateY(180deg);
}
.back-card::before {
    content: "";
    width: 88px;
    height: 43px;
    background-image: url(../img/icons/icon_amazing_back.svg);
    position: absolute;
    top: 48px;
    left: 102px;
    z-index: 3;
}
.back-card span {
    font-size: 14px;
    text-transform: uppercase;
}
.back-card p {
    font-size: 13px;
    font-weight: 300;
    color: #8A8A8A;
}
.btn-plus {
    font-size: 13px;
    padding-left: 56px;
    position: relative;
}
.btn-plus::before {
    content: "+";
    font-size: 33px;
    font-weight: 700;
    position: absolute;
    z-index: 1;
    top: 11px;
    left: 23px;
}
.grid-container-news {
    width: 1160px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
    row-gap: 44px;
}
.news-wrapper {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    position: relative;
   
}
.news-wrapper:hover .news-description {
color: #18CFAB;
}
.news-wrapper:hover .date {
    background: #18CFAB;
}
.news-comment {
    padding-left: 20px;
    background-color: #F8FCFE;
    border: 1px solid #F2F4F5;
}
.news-description {
    font-size: 18px;
    color: #717171;
    transition: 0.5s;
}
.news-comment span {
    font-size: 14px;
    font-weight: 300;
    color: #777777;
}
.date {
    width: 70px;
    height: 68px;
    background: #203E38;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transition: 0.5s;
}
/* What People Say About theHam */
.section-about {
    background-image: url(../img/Sections_background/section3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    perspective: 1000px;
    z-index: 0;
    padding-bottom: 104px;
    height: 853px;

}
.section-about h3 {
    color: #ffffff;
}
.wrapper-say-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 37px;
    animation: move 1s;
    transition: 1s;
}
@keyframes move {
    0% {
              transform: rotateY(270deg);
      }
    
      100% {
        transform: rotateY(360deg);
      }   
}
.info-description {
    height: 80px;
    font-size: 16px;
    font-weight: 300;
    color: #BBBBBB;
    text-align: center;
    padding-top: 35px;
    position: relative;
}
.info-description::before {
    content: "";
    height: 32px;
    width: 44px;
    background-image: url(../img/icons/Coma.svg);
    position: absolute;
    top: -33px;
    left: 48%;
    z-index: 2;
}
.info {
    height: 42px;
    text-align: center;
    line-height: 27px;
}
.info-name {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #18CFAB;
}
.info-ocupation {
    font-weight: 300;
    font-size: 16px;
    color: #BBBBBB;
}
.info-photo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 11px solid rgb(7, 121, 98, 0.7);
}
.roundabout,
.wrapper-roundabout {
    gap: 38px;
} 
.roundabout li {
    height: 110px;
    display: flex;
}
.no-up {
    align-items: end; 
}
.up {
    align-items: start; 
}
.wrapper-roundabout {
position: absolute;
bottom: 104px;
left: 675px;

}
.wrapper-roundabout
.roundabout img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid rgb(7, 121, 98, 0.7);
}
.radio-btn {
    color: #ffffff;
    border: 1px solid #BBBBBB;
    background-color: rgb(0, 0, 0, 0.1);
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.4s;
}
.radio-btn:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
}


/* Gallery of best images */
.section-gallery {
    width: 1160px;
    margin: 0 auto;
     padding-bottom: 104px;
}

#gallery-container {
    width: 1160px;
    height: 921px;
    display: grid;
    margin-bottom: 90px;
}
.sizer1 {
    float: left;
    width: calc(33.33% - 13px);
}
.item-masonry {
    margin-bottom: 20px;
    width: 370px;
}
.item-masonry img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    cursor: pointer;
}
.js-mouse {
   position: relative;
}
.flex-item {
    display: flex;
    gap: 3px;
    flex-direction: row;
    height: 170px;
}
.grid-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 92px;
    row-gap: 3px;
    column-gap: 3px;
}
.grid-item img {
    height: 92px;
}
.dark {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
}
.back-item-gallery {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    display: flex;
} 
.back-item-icons {
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    z-index: 2;
}
.back-item-icons div {
    height: 25px;
    width: 27px;
    background-color: #14B9D5;
    opacity: 1;
    border: 1px solid #14B9D5;
    position: relative;
}
.search::before {
    content: "";
    height: 20px;
    width: 22px;
    background-image: url(../img/icons/Search1.svg);
    position: absolute;
    top: 3px;
    left: 3px;
}
.size::before {
    content: "";
    height: 11px;
    width: 12px;
    background-image: url(../img/icons/Size.svg);
    position: absolute;
    top: 7px;
    left: 7px;
}
/* footer */
.footer {
    display: flex;
    justify-content: center;
    background: #22353f;
  }
  
  .footer-text {
    font-weight: 300;
    font-size: 14px;
    height: 120px;
    display: flex;
    align-items: center;
    color: #AEAEAE;
  }
  
  .footer-text a {
    color: #18cfab;
    transition: color 0.5s;
  }
  .footer-text span {
    font-size: 14px;
    font-weight: 300;
  }
  
  
/* Preloader */
.lds-spinner {
    color: official;
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #108762;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .active-preloader {
    display: inline-block;
  }
  
